*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    background-image:linear-gradient(55deg, white, black);
    background-size: cover;
    background-repeat: no-repeat;
}
.container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 250px;
}
.container .front, 
.container .back{
    border-radius: 5px;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(25deg,#000000,#fff);
    box-shadow: 2px 0 5px #ffffff, 0 2px 5px #ffffff, 0 -2px 5px #ffffff, -2px 0 5px #ffffff;
    flex-direction: column;
    transition: .5s ease-in-out;
    display: flex;
}
.container .front{
    z-index: 1;
}
.turn{
    margin: 10px;
    text-align: right;
}
.turn i{
    font-weight: bold;
    cursor: pointer;
}
h2,h4{
    margin: 15px;
    color: white;
    text-align: center;
    text-transform: uppercase;
}
.links{
    margin: 25px;
    display: flex;
    justify-content: space-between;
}
.links a{
    text-decoration: none;
}
.links i{
    color: white;
    font-size: 1.5rem;
}
.container .back{
    transform: rotateY(180deg);
}
.back.back-turn{
    transform: rotateY(0deg);
}
.front.front-turn{
    z-index: 0;
    transform: rotateY(-180deg);
}